{% extends 'base.html' %}

{% block content %}
<main class= "container py-5">
    <selection class="card card-body">
        <h1 class= "display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti aliquam quaerat, suscipit dolorem officiis soluta possimus iste assumenda perspiciatis quas aliquid ut. At culpa pariatur blanditiis similique animi commodi ea, modi, adipisci enim inventore tempore, quibusdam ad error? Asperiores error numquam, iusto sed porro dolor possimus praesentium sunt tempore reprehenderit incidunt, delectus repudiandae voluptas! Similique consequuntur omnis animi amet facere, rem obcaecati ipsum? Harum repellat hic ipsam. Distinctio iure est eaque expedita aperiam praesentium unde minima. Fugiat incidunt mollitia, nisi ut dolorem tenetur blanditiis quam magni ipsum, iste corporis quasi voluptatibus eum. Impedit natus aliquam ex voluptatibus inventore quaerat culpa!</p>
        <div class= "text-center">
            <a class= "btn btn-secondary" href="/signin/" >
                Signin
            </a>
            <a class= "btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </selection>
</main>
{% endblock %}